<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>weather practice</title>
</head>
<body>
        <h1>Hi Tushar let's play.....</h1>
        <form>
            <input type="text" placeholder="search">
            <button>click to get Temperature</button>
            <h2 id="temperature"></h2>
            <h3 id="location"></h3>
        </form>
        <script src="data.js"></script>

</body>
</html>